@import "_reset.scss";

body,
html,
#wrapper {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: url('../img/backgrounds/low-poly-landscape-white-tree.jpg') center center no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: url('../img/backgrounds/pixel.png') top left repeat;
    background-size: 2px;
    opacity: 0.25;
  }
}

.wrapper {
  display: table;
  width: 100%;
  position: relative;
  font-size: 1.4em;
  padding: 0 25px;
  box-sizing: border-box;
}

div.social {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: inline-block;

  iframe,
  div {
    vertical-align: top;
    display: inline-block;
  }
}

div.middle-container {
  vertical-align: middle;
  text-align: center;
  display: table-cell;

  div.middle {
    background: #fff;
    padding: 25px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 300;
    color: #333;
  }
}

::placeholder {
  color: #aaa;
}

#image,
input {
  max-width: 568px;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
}

input {
  outline: 0;
  background: none;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 300;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px 0;
  text-align: center;
  color: #999;
  border: 1px solid #e0e0e0;
}

input:focus {
  color: #888;
  border: 1px solid #B3C0C6;
}

.url-input {
  &:focus {
    border-color: #1563C8;
  }

  &::selection {
    background: #1563C8;
    color: #fff;
  }
}
