@import "_reset.scss";

body,
html,
#wrapper {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: url('../images/backgrounds/white-paper-pattern.jpg') top left repeat;
}

.wrapper {
  display: table;
  width: 100%;
  position: relative;
  font-size: 1.4em;
  padding: 0 25px;
  box-sizing: border-box;
}

div.middle-container {
  vertical-align: middle;
  text-align: center;
  display: table-cell;

  div.middle {
    display: inline-block;
    font-weight: 300;
    color: #333;
    max-width: 640px;

    .input,
    .url-input,
    .image {
      max-width: 100%;
      width: 100%;
    }

    .image-wrapper {
        background: #fff;
        padding: 15px;
        border-radius: 5px;
        margin-top: 5px;

        .image {
          border-radius: 3px;
        }
    }

    .input,
    .url-input {
      background: #fff;
      padding: 15px;
      font-size: 1.4em;
      border-radius: 5px;
      font-weight: 600;
      color: #4e505c;

      &:focus {
        color: #2c2e38;
      }
    }

    .url-input-wrapper {
      position: relative;

      .copied-to-clipboard-message {
        display: none;
        background: #11e08f;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
        color: #fff;
        user-select: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
      }

      &.copied-to-clipboard .copied-to-clipboard-message {
        display: block;
      }
    }

    .url-input {
      font-weight: 500;
      transition: 200ms background ease-in-out;
      margin: 0;
      font-size: 1.1em;
      padding: 12px;
    }
  }
}

::placeholder {
  color: #aaa;
}

#image,
input {
  max-width: 568px;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
}

input {
  outline: 0;
  border: 0;
  background: none;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 300;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px 0;
  color: #999;
}

.url-input {
  &::selection {
    background: #11e08f;
    color: #fff;
  }
}
